.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleItemContainer {
  justify-content: center;
  align-items: center;
  /* margin-top: 10rem; */
  height: 100vh;
}

.singleItemWrapper {
  gap: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem;
  /* max-width: 60%; */
  /* height: 430px; */
}

.imageContainer {
  flex-direction: column-reverse;
  gap: 1rem;
}

.multiImageContainer {
  gap: 1rem;
}

.variation {
  border-radius: 5px;
  height: 70px;
  width: 70px;
}

.image {
  border-radius: 5px;
  max-height: 450px;
  max-width: 450px;
}

.productInfo {
  flex-direction: column;
  gap: 2.25rem;
  max-width: 500px;
  justify-content: space-between;
}

.mobileHeader {
  display: none;
}

.desktopHeader {
  display: block;
  font-size: 2.25rem;
}

.sizeContainer {
  gap: 0.5rem;
}

.sizeItem {
  text-align: center;
  vertical-align: center;
  width: 75px;
  height: 25px;
  border: 1px solid black;
  border-radius: 2.5px;
}

.price {
  font-size: 1.8rem;
}

.addContainer {
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.5rem;
}

.addContainer button,
.viewMore,
.itemView {
  align-items: center;
  background-color: black;
  background-position: 0 0;
  border: none;
  box-sizing: border-box;
  color: #d33a2c;
  font-size: 1rem;
  height: 35px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  touch-action: manipulation;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 8px;
}

.cartView {
  width: 350px;
  border-radius: 8px;
}

.wishView {
  width: 150px;
  border-radius: 8px;
}

.viewMoreCont {
  align-self: flex-end;
}

.viewMore {
  margin: 5rem;
  width: 150px;
  border-radius: 8px;
}

.itemView {
  width: 100px;
}

.resume {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 80%;
}

.resume h2 {
  margin: 2rem 5rem;
  align-self: flex-start;
}

.resumeContent {
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: all;
  transition-duration: 1s;
  padding: 1.5rem;
}

.productItem {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  transition: all;
  transition-duration: 1s;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.productItem small,
.productItem p {
  padding: 0.25rem;
}

.productItem img {
  width: 100%;
  height: 70%;
}

.productItem p {
  width: 15rem;
}

.viewLink {
  width: 100%;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .productInfo {
    max-width: 400px;
  }

  .image {
    max-width: 300px;
    max-height: 300px;
  }

  .desktopHeader {
    font-size: 1.5rem;
  }

  .sizeContainer {
    flex-wrap: wrap;
  }

  .cartView {
    width: 250px;
  }

  .resumeContent {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .singleItemWrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  .singleItemContainer {
    height: 100%;
  }

  .mobileHeader {
    display: block;
  }

  .desktopHeader {
    display: none;
  }

  .imageContainer {
    align-items: center;
  }

  .resume h2 {
    margin: 1rem 0;
    align-self: center;
  }

  .productItem {
    width: 400px;
    height: 500px;
  }

  .viewMoreCont {
    align-self: center;
    width: 70%;
  }

  .viewMore {
    margin: 1rem 0;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .singleItemContainer,
  .imageContainer {
    width: 90%;
  }

  .singleItemWrapper {
    padding: 0.5rem;
  }

  .multiImageContainer {
    gap: 0;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .addContainer {
    flex-direction: column;
    align-items: center;
  }

  .wishView {
    width: 250px;
  }

  .productItem {
    width: 300px;
    height: 400px;
  }

  .resume {
    padding: 0.25rem;
  }

  .resume h2 {
    margin: 2.5rem 0 0 0;
  }
}

@media only screen and (max-width: 375px) {
  .image {
    max-width: 250px;
    max-height: 250px;
  }
}
