.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.authContainer,
.signUpImage,
.loginImage,
.coverImage,
.authenticate {
  transition: all;
  transition-duration: 1s;
}

.authContainer {
  grid-template-columns: 50% 50%;
  border: 1px solid #00000032;
  width: 60%;
  height: 70%;
  border-radius: 15px;
  padding: 0.5rem;
}

.coverImage {
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: black;
  z-index: 1;
  border-radius: 7px;
}

.coverImage img {
  width: 400px;
  height: 350px;
}

.signUpImage {
  transform: rotate(-45deg);
}

.loginImage {
  transform: scaleX(-1) rotate(-45deg);
}

.filterDiv {
  position: absolute;
  z-index: 2;
  background: #ffffff1a;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 99.25%;
  height: 99.25%;
  border-radius: 5px;
}

.authenticate {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  transform: translate(100%);
}

.left {
  transform: translate(-100%);
}

.authenticateForm {
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
}

.authenticate input[type="input"] {
  border: 1px solid #00000032;
  margin-top: 1rem;
  background: none;
  height: 2.5rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 5px;
}

.authenticate input[type="input"]:focus {
  outline: none;
}

.authenticate .authenticateBtn {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20rem;
}

.redirect {
  border: none;
  background: none;
  font-size: 15px;
}

@media (hover: hover) {
  .authenticate .authenticateBtn:hover {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: 0.05em;
  }

  .redirect:hover {
    cursor: pointer;
  }
}

.authenticate a {
  width: 100%;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.error,
.backEndError {
  text-align: center;
  margin: 0;
  padding: 0.5rem;
  color: #ca473d;
  animation: error-appearance 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.authenticate input::placeholder {
  color: grey;
  font-weight: 900;
  opacity: 1;
}

.authenticate input::-ms-input-placeholder {
  color: grey;
  font-weight: 900;
}

@media only screen and (max-width: 1440px) {
  .authContainer {
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  .authContainer {
    width: 90%;
  }

  .coverImage img {
    width: 300px;
    height: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .authContainer {
    grid-template-rows: 25% 75%;
    grid-template-columns: auto;
  }

  .filterDiv {
    height: 98%;
    width: 99%;
  }

  .coverImage img {
    height: 90%;
    width: 150px;
  }

  .signUpImage {
    transform: none;
  }

  .loginImage {
    transform: scaleX(-1);
  }

  .right {
    transform: translateY(300%);
  }

  .left {
    transform: translateY(calc(-100% * 1 / 3));
  }
}

@media only screen and (max-width: 375px) {
  .authenticate input[type="input"],
  .authenticate .authenticateBtn {
    width: 90%;
  }
}
